/* your styles go here */
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
a, a:hover{
    text-decoration: none;
}

#sidebar{
    position: sticky;
    top: -20px;
    height: 100%;
}
.page-header{
    position: sticky;
    top: 81px;
    z-index: 998;
}
.loader{
    position: fixed;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #666;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    animation: spin 2s linear infinite;
    margin-top: -60px;
    left: 50%;
    top: 50%;
    z-index: 1;
}
.hide{
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#reportrange{
    margin-right: 10px;
    width: 180px;
    height: 40px;
    cursor: pointer;
}
#reportrange span{
    line-height: 40px;
    font-size: 15px;
}
.page-dashboard{
    position: sticky;
    top: -100px;
}
._pie_chart{
    height: 500px;
}
._bar_chart{
    height: 400px;
}
._line_chart{
    height: 500px;
}
.detail{
    cursor: pointer;
}
