/* your styles go here */
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
a, a:hover{
    text-decoration: none;
}

#sidebar{
    position: sticky;
    top: -20px;
    height: 100%;
}
.page-header{
    position: sticky;
    top: 83px;
    z-index: 998;
}
.loader{
    position: fixed;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #666;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    animation: spin 2s linear infinite;
    margin-top: -60px;
    left: 50%;
    top: 50%;
    z-index: 1;
}
.hide{
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.t_comparison{
    height: 200px !important;
}
#reportrange{
    margin-right: 10px;
    width: 180px;
    height: 40px;
    cursor: pointer;
}
#reportrange span{
    line-height: 40px;
    font-size: 15px;
}
.page-dashboard{
    position: sticky;
    top: 153px;
}
._pie_chart{
    height: 412px;
}
._bar_chart{
    height: 412px;
}
._line_chart{
    height: 412px;
}
.detail{
    cursor: pointer;
}
li a.selected{
    background: #333 !important;
}
div.shop-name{
    display: inline;
}
.block{
    margin-bottom: 20px !important;
}
.footer__block.block{
    margin-bottom: 0 !important;
}
.sort{
    cursor: pointer;
}
.top3{
    font-weight: 800;
    color: #f55;
}
.top5{
    font-weight: 500;
    color: #57b;
}
.d-desktop{
    display: block !important;
}
.d-mobile{
    display: none !important;
}
td{
    font-weight: 700;
}
select{
    width: 223px !important;
}
.multishop-btn{
    color: #999;
    margin-right: 15px;
    height: 40px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.15);
    min-width: 223px;
}
@media(max-width: 575px){
    .brand-text strong{
        font-size: 15px !important;
    }
    section{
        padding: 0 !important;
    }
    table{
        font-size: 12px !important;
    }
    .page-header{
        top: 80px;
        margin-bottom: 15px !important;
    }
    .stats-3-block{
        margin-bottom: 15px !important;
        height: 80px !important;
    }
    .stats-2-block{
        margin-bottom: 15px !important;
        height: 80px !important;
    }
    strong{
        font-size: 14px !important;
    }
    .stats-2-block span, .stats-3-block span{
        font-size: 10px !important;
    }
    #comparison_none h3{
        font-size: 12px;
    }
    #all-shops li a{
        font-size: 13px !important;
    }
    #reportrange{
        text-align: right;
    }
    #reportrange span{
        font-size: 13px !important;
    }
    .navbar .right-menu{
        width: 220px !important;
    }
    .stats-2-block .stats-2{
        height: 40px;
    }
    .h5{
        font-size: 15px !important;
    }
    .d-desktop{
        display: none !important;
    }
    .d-mobile{
        display: block !important;
    }
    #new_user .form-group, #new_user .form-group select, #new_user .form-group button, #new_user .form-group span, #new_user .form-group input[type="submit"]{
        width: 100%;
    }
    select{
        width: 100% !important;
    }
    .page-dashboard{
        top: 130px;
    }
    .multishop-btn{
        margin-right: 0px;
    }
    .multishop-btn span{
        width: 90% !important;
    }
}
